body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body.lightMode {
  background-color: #fff !important;
  h1 {
    color: #000;
  }
}
body.darkMode {
  background-color: #000 !important;
  h1 {
    color: #fff;
  }
}
button {
  position: relative;
  width: 200px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  top: 30dvh;
  border-radius: 50%;
  font-size: 3rem;
  text-transform: uppercase;
}
